<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Crédit App</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Simulation de votre Crédit</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	 <!-- Champ pour Credit_History -->
    <input 
    type="text" 
    name="Credit_History" 
    placeholder="Historique de crédit (1 pour Oui, 0 pour Non)" 
    required="required" 
/>

<!-- Champ pour Married -->
<input 
    type="text" 
    name="Married" 
    placeholder="Marié(e) (1 pour Oui, 0 pour Non)" 
    required="required" 
/>

<!-- Champ pour CoapplicantIncome -->
<input 
    type="text" 
    name="CoapplicantIncome" 
    placeholder="Revenu du co-demandeur (en chiffres)" 
    required="required" 
/>

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
